<form #loginfrm="ngForm" class="form-group" (ngSubmit)="addemp(loginfrm.value)" >
    <fieldset>
        <label>Enter Name</label>
       <input type="text" [(ngModel)]="adde.EmployeeName" id="" name="EmployeeName"/>
       <br/>
       <label>Enter DOB:</label>
       <input type="datetime-local" [(ngModel)]="adde.DateOfBirth" id="" name="DateOfBirth"/>
       <br/>
       <label for="gender">Enter Gender</label>
       <select name="gender" id="gender" [(ngModel)]="adde.Gender" >
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
       </select>
       <!-- <input type="text" [(ngModel)]="Gender"  id="" name="Gender"/> -->
       <br/>
       <label>Enter Employee Status</label>
       <input type="text" [(ngModel)]="adde.EmpStatus" id="" name="EmpStatus"/>
       <br/>
       <label for="designation">Enter Designation</label>
       <select name="designation" id="designation" [(ngModel)]="adde.Designation" >
        <option value="Analyst">Analyst</option>
        <option value="WebDeveloper">Web Developer</option>
        <option value="DataScientist">Data Scientist</option>
       </select>
       <!-- <input type="text" [(ngModel)]="Designation" id="" name="Designation"/> -->
       <br/>
       <label>Enter Departmant No.</label>
       <input type="number" [(ngModel)]="adde.DeptNo" id="" name="DeptNo"/>
       <br/>
       <label>Enter Address</label>
       <input type="textbox" [(ngModel)]="adde.Address" id="" name="Address"/>
       <br/>
       <label>Enter Nationality</label>
       <input type="text" [(ngModel)]="adde.Nationality" id="" name="Nationality"/>
       <br/>
       <label>Enter Phone No.</label>
       <input type="number" [(ngModel)]="adde.PhoneNo" id="" name="PhoneNo"/>
       <br/>
       <label>Enter Work Location</label>
       <input type="text" [(ngModel)]="adde.WorkLoc" id="" name="WorkLoc"/>
       <br/>
       <label>Enter Joining Date</label>
        <input type="datetime-local" [(ngModel)]="adde.Joiningdate" id="" name="Joiningdate"/>
       <br/>
       <label>Enter Manager ID</label>
       <input type="number" [(ngModel)]="adde.ManagerId" id="" name="ManagerId"/>

       <input type="submit" class="btn btn-primary" name="vu"/>
    </fieldset>
</form>
