
<h1>Employee List</h1>
<table  class="table table-bordered">
    <tr>

        <th class="table-primary" scope="col">EmployeeID</th>
        <th  class="table-primary"scope="col">EmployeeName</th>
        <th  class="table-primary"scope="col">Date of Birth</th>
        <th class="table-primary"scope="col">Gender</th>
        <th class="table-primary"scope="col">Employeestatus</th>
        <th class="table-primary" scope="col">Designation</th>
        <th class="table-primary" scope="col">DepartmentNo</th>
        <th class="table-primary" scope="col">Address</th>
        <th class="table-primary"scope="col">Nationality</th>
        <th class="table-primary"scope="col">Phone No</th>
        <th class="table-primary" scope="col">WorkLocation</th>
        <th class="table-primary" scope="col">Joining Date</th>
        <th class="table-primary"scope="col">Manager ID</th>
        

    </tr>

    <tbody>
        <tr class="table-secondary" *ngFor="let sd of emplist">
            <td >{{sd.EmployeeID}}</td>
            <td>{{sd.EmployeeName}}</td>
            <td>{{sd.DateOfBirth}}</td>
            <td>{{sd.Gender}}</td>
            <td>{{sd.EmpStatus}}</td>
            <td>{{sd.Designation}}</td>
            <td>{{sd.DeptNo}}</td>
            <td>{{sd.Address}}</td>
            <td>{{sd.Nationality}}</td>
            <td>{{sd.PhoneNo}}</td>
            <td>{{sd.WorkLoc}}</td>
            <td>{{sd.Joiningdate}}</td>
            <td>{{sd.ManagerId}}</td>
            <td >
                <button (click)="updateemp()"> update Employee</button>
            </td>
            
        </tr>
    </tbody>
</table>
<button (click)="addemp()">Add employee</button>
